<body id="page-top">
  <!-- Navigation-->
  <nav class="navbar navbar-expand-lg bg-custom-transparent">
      <div class="container">
          <a class="logo" href="#page-top">
            <img src="assets/images/logo_white.png" class="image-fluid m-auto">
          </a>
      </div>
  </nav>
  <!-- Content section 1-->
  <section class="main">
      <div class="container">
          <div class="row gx-5 align-items-center">
              <div class="col-lg-6 order-lg-2">
                  <div class="p-5 img-zoom"><img class="img-fluid rounded-circle" src="assets/images/bamboo.png" alt="..."></div>
              </div>
              <div class="col-lg-6 order-lg-1">
                  <div class="p-5">
                      <h2 class="display-4">Software für Macher</h2>
                      <p>yx3m1 ist ein quelloffenes Content Management System für Unternehmen mit speziellen Bedürfnissen. Die Software ist Modular gestaltet und kann beliebig erweitert und verändert werden.</p>
                  </div>
              </div>
          </div>
      </div>
  </section>
  <!-- Content section 2-->
  <section>
      <div class="container">
          <div class="row gx-5 align-items-center">
              <div class="col-lg-6">
                  <div class="p-5 img-zoom"><img class="img-fluid rounded-circle" src="assets/images/html.png" alt="..."></div>
              </div>
              <div class="col-lg-6">
                  <div class="p-5">
                      <h2 class="display-4">Strukturierter Code</h2>
                      <p>Neben dem ansprechenden Design und dem einfach gestalteten Aufbau bietet yx3m1 sauberen und verständlichen Code. Die zahlreichen Templates bieten die Möglichkeiten kleinere und größere Anpassungen vorzunehmen, ohne dass man sich Gedanken über die Prozesse im Hintergrund machen muss.</p>
                  </div>
              </div>
          </div>
      </div>
  </section>
  <!-- Content section 3-->
  <section>
      <div class="container">
          <div class="row gx-5 align-items-center">
              <div class="col-lg-6 order-lg-2">
                  <div class="p-5 img-zoom"><img class="img-fluid rounded-circle" src="assets/images/course-img-2.png" alt="..."></div>
              </div>
              <div class="col-lg-6 order-lg-1">
                  <div class="p-5">
                      <h2 class="display-4">Kurse und Coaching</h2>
                      <p>Jeden Donenrstag ab 18 Uhr findet über die Streaming Plattform Twitch ein interaktiver Kurs zum Thema Webentwicklung statt. Der Kurs richtet sich an Anfänger und Fortgeschrittene und dauert pro Modul jeweils 2 Stunden. Das Beste daran: der Kurs ist komplett kostenlos!</p>
                  </div>
              </div>
          </div>
      </div>
  </section>
  <section id="testimonials">
    <div id="bamboo" class="parallax">
      <div class="glass">
        <div class="container py-5">
          <div class="row gx-5">
            <h2 class="col-lg-4 m-auto display-3">Bamboo</h2>
            <div class="col-lg-8">
              <p class="lead">Das Bamboo Template ist das standardmäßig ausgewählte Template auf der frisch installierten yx3m1 Software. Das Template ist Open Source und bietet einen soliden Start in die Welt der Webentwicklung.</p>
              <a href="https://github.com" target="_blank" role="button" class="btn btn-outline-dark mt-2">Github</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="wine" class="parallax">
      <div class="glass">
        <div class="container py-5">
          <div class="row gx-5">
            <h2 class="col-lg-4 m-auto display-3">Wine</h2>
            <div class="col-lg-8">
              <p class="lead">Das Wine Template bietet alle Funktionen die ein laufendes Business auszeichnet. Neben dem einzigartigen Design bietet Wine den vollen Komfort eines reinen Javascript Templates.</p>
              <a href="https://kleinerweinshop.de" target="_blank" role="button" class="btn btn-outline-dark mt-2">Live Demo</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="rockstar" class="parallax">
      <div class="glass">
        <div class="container py-5">
          <div class="row gx-5">
            <h2 class="col-lg-4 m-auto display-3">Rockstar</h2>
            <div class="col-lg-8">
              <p class="lead">Rockstar, das Template für Rockbands wurde ursprünglich für eine lokal ansässige Punkrockband entwickelt. Es punktet vor allem durch seine nähe zum Fan und das schlichte, rockige Design.</p>
              <a href="https://dierelevanten.de" target="_blank" role="button" class="btn btn-outline-dark mt-2">Live Demo</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Footer-->
  <div class="container">
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
      <div class="col-md-4 d-flex align-items-center">
        <span class="text-muted">&copy; 2021 yx3m1</span>
      </div>

      <div class="d-flex flex-row justify-content-center gx-2">
        <a href="mailto:yannik@yx3m1.com" target="_blank" class="text-muted"><i class="bi bi-envelope mx-2"></i></a>
        <a href="https://www.instagram.com/yx3m1" target="_blank" class="text-muted"><i class="bi bi-instagram mx-2"></i></a>
        <!--<a href="https://www.instagram.com/yx3m1" target="_blank" class="text-muted"><i class="bi bi-facebook mx-2"></i></a>
        <a href="https://www.instagram.com/yx3m1" target="_blank" class="text-muted"><i class="bi bi-twitter mx-2"></i></a>-->
      </div>
    </footer>
  </div>

</body>

<router-outlet></router-outlet>
